.conteudo {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.conteudo input {
    margin-bottom: 10px;
}

.conteudo textarea {
    height: 60px;
    resize: none;
    margin-bottom: 10px;
}

.botao {
    background: rgb(212, 122, 164);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 0;


}

input, textarea {
    border-radius: 5px;
    border: 1px solid grey;
}