
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App img {
  width: 100px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImgName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  border: 1px solid rgb(105, 95, 95);
  border-radius:5px;
  margin: 10px;
  padding: 10px;
}

.divisor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.ImgName img {
  width: 70px;
  height: 70px;
  border-radius: 100px;

}


